body {
    font-family: 'roboto', 'Times New Roman', Times, serif;
    color: rgb(194, 179, 179);
    

}
footer,
header {
    padding: 0px 50px;
}

.info,
.testimonial,
.call {
    padding: 0px 100px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

footer,
header {
    background-color: #1f2937;
}

.upper {
    display: flex;  
    justify-content: space-between;
}

.sloth {
    display: flex;
    justify-content: start;
}

.lower {
    display: flex;
    font-size: 24px;
    color: #f9faf8;
}

.logo {
    width: 300Px;
    height: auto;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
}

div h2 {
    display: flex;
    justify-content: center;
}

.info img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.info-img {
    display: flex;
    gap: 20px;
  
}

.info-img div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
}

h2 div {
    display: flex;
    flex-direction: row;
}

.testimonial {
    background-color: #e5e7eb;
    color: #1f2937;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}